*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "FiraCode";
    src: url("fonts/Fira_Code/FiraCode-VariableFont_wght.ttf") format("truetype");
}

.banner{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width:100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8)), url(background.jpg) ; 
    background-size: cover;
    position: relative;
}

.navbar{
    width: 90%;
    margin: 0 auto;
    padding: 25px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 50;
}

.navbar .terminal-logo {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    font-weight: bold;
    color: #ff0055;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(255, 0, 85, 0.5);
}

.navbar .terminal-logo:hover {
    text-shadow: 0 0 20px rgba(255, 0, 85, 0.8);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    font-family: FiraCode;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover{
    font-family: FiraCode;
    text-decoration: none;
    color: cornflowerblue;
    transform: translateX(-10px);
}

.navbar ul li::before{
    content: '-> ';
    color: cornflowerblue;
}


.content {
    overflow: hidden;
    width: 90%;
    position: relative;
    color: #fff;
    margin-top: 70px;
    padding-left: 10%;
    
    
    
    

}

.content h1 {
    color:#fff;
    font-family: Roboto;
    padding-left: 0%;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*
    white-space: nowrap;
    margin: 0 auto;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    */
    
}

.content p {
    font-family: "FiraCode";
    font-weight: 100;
    line-height: 20px;
    color: whitesmoke;
    text-align: center;
    /*
    overflow: hidden; 
    margin: 0 auto;
    animation: 
    typing 1s steps(40, end),
    blink-caret .75s step-end infinite;
    */
}


.ender{
    font-family: FiraCode;
    position: absolute;
    text-align: center;
    bottom: 0;
}

.Singularity_Status{

    width: 90%;
    position: absolute;
    color: #fff;
    position:absolute;
    overflow: hidden;
    text-align: center;
    margin-left: 50px;

}

.Singularity_Status h1 {
    
    font-family: Roboto;
}

.Singularity_Status h2 {
    color:#ffffff;
    font-family: Roboto;
}

.Singularity_Status p {
    font-family: "FiraCode";
    font-weight: 100;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.Singularity_Status p1 {
    font-family: "FiraCode";
    font-weight: 100;
    line-height: 15px;
    color: rgb(255, 0, 0);
}

@keyframes changeColor {
    0% { color: red; }
    50% { color: rgb(0, 0, 0); }
    100% { color: red; }
  }

    .Singularity_Status h1 {
    animation: changeColor 2s linear infinite;
    }


#preloader{
    background: #000 url(preloader2.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -100px;
}


.body_anim {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


  .wrapper {
    width:600px;
    margin: 0 auto;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* ========== WILSON CLOUD CHAMBER EFFECT ========== */
.wilson-chamber {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    overflow: visible;
}

/* Dynamic track styles - created by JavaScript */
.track {
    position: fixed;
    border-radius: 2px;
    pointer-events: none;
}

.track-beta {
    box-shadow: 0 0 4px rgba(180,200,255,0.2);
}

.track-alpha {
    box-shadow: 0 0 8px rgba(255,180,100,0.3);
}

.track-gamma {
    box-shadow: 0 0 15px rgba(100,180,255,0.4), 0 0 30px rgba(100,180,255,0.2);
}